html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    outline: 1px solid red;
}

header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-left: 100px;
    
    
}

 .header.top{
    display: flex;
 }

 .logo{
    font-size: 24px;
    padding: 8px;
 }

ul{
    list-style-type: none;
    display: flex;
    margin-left: auto;
    margin-right: 80px;
}

a{
    text-decoration: none;
}

li{
    padding: 8px;
}

 .header.body{
    display: flex;
    gap: 50px;
 }

 .header.disc{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 8px;
 }

 button{
    align-self: flex-start;
    background-color: #3882F6;
    padding: 3px 15px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
 }

 .hero {
    color:#F9FAF8
 }

 .hero.main{
    font-size: 48px;
 }

 .secondary{
    color: #E5E7EB;
    font-size: 18px;
 }

 .img1{
    justify-content: center;
    align-items: center;
    padding: 25px;
    outline: 2px solid grey;
 }

 main{
    display: flex;
    flex-direction: column;
 }

.info {
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    padding: 25px;
}

 .images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
 }

 .img2,
 .img3,
 .img4,
 .img5{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 150px;   
    margin-bottom: 30px;
 }

 .i1,
 .i2,
 .i3,
 .i4{
    height: 100px;
    width: 100px;
    align-self: center;
    border-radius: 10px;
    outline: 2px solid blue;
 }

 .quote{
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
 }

 .quote-text{
    text-align: left;
    font-size: 36px;
    color: #1F2937;
    width: 500px;

 }

 .thor{
    align-self: flex-end;
 }